<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TourProject_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>448E870F1BE39A9600AE3745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>448E87231BE39A9600AE3745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>448E872E1BE39A9600AE3745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
